<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="profitapp/static/css/style.css">
    <link rel="icon" href="profitapp/static/icon/favicon.ico" type="image/x-icon"/>
    <title>View income and expenses</title>
</head>
<body>
<div id="text__lists">

    <div id="left" class="page" role="document">
        <span>Список слева</span>
    </div>
    <div id="right" class="page" role="document">
        <span>Список справа</span>
    </div>
</div>
</body>
</html>